@use "./vars" as *;

.app {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: rgb(28, 29, 34);
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
