.button {
  font-size: 1rem;
  border-radius: 0;
  border: none;
  padding: 0 8px 8px;
  cursor: pointer;
  text-align: center;
  width: max-content;
  min-width: 1.5rem;
  background-color: #353c41;
  color: white;

  &:hover {
    background-color: #4fd746;
  }
}
