@use "../app/vars" as *;

.item {
  composes: path from "./Maze.module.scss";
  position: absolute;
  animation: flash 1s steps(2, jump-none) infinite;
}

.potion {
  background-position: -80px * $scale -112px * $scale;
}

.coin {
  background-position: -64px * $scale -80px * $scale;
}

.heart {
  background-position: -80px * $scale -96px * $scale;
}

@keyframes flash {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(0.9);
  }
}
