@use "../app/vars" as *;

.maze {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--cols), $size);
  grid-template-rows: repeat(var(--rows), $size);

  max-height: 75vh;
  max-width: 90vw;
  overflow: auto;

  // &:not(:focus) {
  //   overflow: hidden;
  //   &:after {
  //     content: "برای ادامه بازی کلیک کنید";
  //     display: block;
  //     width: 100%;
  //     height: 100%;
  //     background-color: rgba(22, 22, 22, 0.7);
  //     backdrop-filter: blur(24px);
  //     color: white;
  //     position: absolute;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     cursor: pointer;
  //   }
  // }
}

.wall,
.path {
  width: $size;
  height: $size;
  background-image: url("../public/spritesheet.png");
  background-size: 900%; // (100% + 8*100% - 8bit graphics)
  background-repeat: no-repeat;
}

.wall {
  background-color: #1c1d2291;
  background-position: -16px * $scale -96px * $scale;
  background-blend-mode: soft-light;
}

.path {
  background-position: -16px * $scale -128px * $scale;
}
