@use "../app/vars" as *;

.maze {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--cols), $size);
  grid-template-rows: repeat(var(--rows), $size);

  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  margin: auto;
}

.wall,
.path {
  width: $size;
  height: $size;
  background-image: url("../public/spritesheet.png");
  background-size: 900%; // (100% + 8*100% - 8bit graphics)
  background-repeat: no-repeat;
}

.wall {
  background-color: #1c1d2291;
  background-position: -16px * $scale -96px * $scale;
  background-blend-mode: soft-light;
}

.path {
  background-position: -16px * $scale -128px * $scale;
}
